.navbar {
    margin-bottom: 0;
}

.navbar-inverse {
    background-color: #00c800;
    border-color: #00c800;
    .navbar-brand {
        color: white;
    }
    .navbar-nav {
        li {
            a {
                color: white;
            }
        }
        .active {
            a, a:focus, a:hover {
                background-color: #00a700;
            }
        }
    }
}

#map {
    position: relative;
    height: 94vh;
    width: 100%;
}

.form-signin-heading {
    text-align: center;
    color: #00c800;
}

.form-control {
    border-radius: 0;
}

.login-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}

.measurement-form {
    margin-top: 15px;
}

.measurement {
    display: inline-block;
    width: 20%;
}

.space {
    width: 15px;
    display: inline-block;
}

.btn {
    border-radius: 0;
}

.alert {
    border-radius: 0;
}

.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.progress {
    border-radius: 0;
    /*height: 30px;*/
}

.progress-bar {
    width: 100%;
}

.good {
    background-color: green;
}

.moderate {
    background-color: #fec60d;
}

.sensitive {
    background-color: orange;
}

.unhealthy {
    background-color: red;
}

.very-unhealthy {
    background-color: purple;
}

.hazardous {
    background-color: maroon;
}

.container-fluid {
    margin: 15px;
}

.modal-content {
    border-radius: 0;
}

.panel {
    border-radius: 0;
}

.panel-body {
    padding: 0;
}

#nearby-city {
    display: inline-block;
}

.nearby-index {
    margin-bottom: 10px;
}

#nearby-map-area {
    height: 176px;
    border: 1px solid #00c800;
}

#map-nearby {
    height: 174px;
}

#nearest-device {
    border: 2px solid #00c800;
}

#nearest-status {
    max-width: 70px;
}

#summary {
    text-align: center;
    background: #00c800;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 321px;
    #district-title {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .row {
        margin-bottom: 30px;
        .col-md-8 {
            text-align: left;
        }
        .future-day {
            margin-top: 10px;
        }
        #aqi-summary {
            font-size: 20px;
        }
    }
}

.device-detail {
    margin-top: 15px;
}

#aqi-temp {
    margin-left: 10px;
    margin-right: 10px;
    height: 30%;
    font-size: 15px;
    .col-md-6 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #pollution, #temp {
        height: 30px;
        margin-top: 25px;
    }
    .value {
        margin-top: 10px;
    }
    .aqi {
        padding-left: 0;
    }
    .aqi-area, .temp-area {
        border: 5px solid #00c800;
        border-radius: 50%;
        width: 130px;
        height: 130px;
    }
    .temp-area {
        float: right;
    }
    .border {
        border: 2px solid #00c800;
        border-radius: 50%;
        width: 110px;
        height: 110px;
        margin: 5px;
    }
}